1 24 WindowsXP.Manifest

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
   BLOCK "040904b0"
   {
      VALUE "FileDescription", "Harbour database (dbf) utility\0"
      VALUE "FileVersion", "1.1.0.0\0"
      VALUE "InternalName", "DBU\0"
      VALUE "LegalCopyright", "Harbour-project 2019\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename", "DBU.exe\0"
      VALUE "CompanyName", "Harbour-project\0"
      VALUE "ProductName", "DBU\0"
      VALUE "ProductVersion", "1.1.0.0\0"
      VALUE "Info", "pete_westg@yahoo.gr\0"
      VALUE "Comments", "Compiled by Pete D. <pete_westg@yahoo.gr>\0"
      VALUE "Toolset",  "Built with Harbour 3.4 & MinGW\0"
   }
}

BLOCK "VarFileInfo"
   {
      VALUE "Translation", 0x0409, 0x40B
   }
}
